.Calculator {
  text-align: center;
  align-items: center;
  padding: 25px;
  font-size: calc(10px + 2vmin);
  background-color: #141414;
  background-image: radial-gradient(
      at 0% 0%,
      hsla(253, 16%, 7%, 1) 0,
      transparent 50%
    ),
    radial-gradient(at 5% 200%, #006eeb9a 0, transparent 50%),
    radial-gradient(at 100% -75%, #d402029a 0, transparent 50%);
}

.row {
  background-color: transparent;
}

.calulator-text {
  text-align: center;
  color: black;
  font-weight: bold;
  text-shadow: 0px 0px 4px white, 0px 0px 6px white, 0px 0px 8px white;
}

.container-box {
  background-color: transparent;
}
.div-center {
  justify-content: center;
  align-items: center;
}

.field {
  border-radius: 8px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-align {
  text-align: center;
}
.Calculator-logo {
  height: 200px;
}

.Calculator-catBag {
  width: 100px;
  height: 100px;
  pointer-events: none;
  margin-top: 50px;
}

@media (prefers-reduced-motion: no-preference) {
  .Calculator-catBag {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Calculator-header {
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.heading {
  color: black;
  font-weight: bold;
}

.Calculator-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.amplify-checkbox__icon[data-checked="true"] {
  background-color: #3367ef;
}

.card-Container {
  align-items: center;
  justify-content: center;
  width: 1000px;
  height: 500px;
  border-radius: 16px;
  background-color: rgba(48, 48, 48, 0.25);
  box-shadow: 0px 0px 16px rgba(255, 105, 180, 1);
}

.Row {
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.card {
  align-items: center;
  border-radius: 8px;
  width: 300px;
  height: 200px;
  justify-content: center;
}

.income-Fields {
  margin-top: -20px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.ig-Card {
  width: 175px;
  height: 125px;
  border-radius: 32px;
  background-color: rgba(48, 48, 48, 0.25);
  box-shadow: 0px 0px 16px rgba(255, 105, 180, 1);
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 20px;
  font-size: 0.45em;
}

.citationText {
  position: absolute;
  bottom: 60px;
  left: 20px;
  font-size: 0.45em;
  line-height: 1.5em;
}

.checkBox {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 5px;
}
